<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default_layout}">
<th:block layout:fragment="head">
  <title>Spring Boot</title>
  <link th:href="@{/css/postForm.css}" rel="stylesheet" />
  <link th:href="@{/css/home.css}" rel="stylesheet" />
  <script src="http://code.jquery.com/jquery-latest.min.js"></script>
</th:block>
<body>
<th:block layout:fragment="header" th:include="@{/fragments/header}"></th:block>
<body>
<form th:action="@{/post/modify}" method="post" id="postDetailForm" enctype="multipart/form-data">
  <div id="postBox" >
    <!-- 게시글 -->
    <input type="text" id="title" name="title" th:value="${post.title}" placeholder="제목"><br>
    <input type="hidden" th:value="${post.bno}" name="bno">
    <input type="hidden" th:value="${post.scdId}" name="scdId">

    <input type="text" id="writer" name="writer" th:placeholder="${session.loginId}"
           th:value="${session.loginId}" readonly/>

    <input type="text" id="visitSpot" name="visitSpot" th:placeholder="${post.visitPost}"
           th:value="${post.visitPost}" readonly/>

    <input type="date" readonly name="visitDate" id="visitDate" th:value="${post.visitDate}" th:placeholder="${visitDate}"><br>
    <textarea id="content" name="content" placeholder="내용" rows="36">[[${post.content}]]</textarea><br>
    <!--        사진올리기-->
    <label for="imgFile" multiple>사진업로드</label>
    <input type="file" id="imgFile" name="imgFile" multiple="multiple">

    <label for="content">공개여부</label>
    <input type="radio" name="pub" value="t" checked>공개</input>
    <input type="radio" name="pub" value="f">비공개</input>
      <button type="button" id="modifyBtn">수정하기</button>
    </div>
</form>
</body>
</html>
<script th:inline="javascript">
  /*<![CDATA[*/
  var title = /*[[${post.title}]]*/

  let p1 = false;
  let p2 = false;

  $(function (){
    if ( $('#title').val() != ''){
      p1 = true;
    }else p1 = false

    if ( $('#content').val() != ''){
      p2 = true;
    }else p2 = false
  })
  //타이틀 공백 파악
  //제목 / 내용 둘 다 입력했을 때만 이동할 수 있도록
  $('#modifyBtn').on('click', function (){

    if (p1 && p2){
      $('#modifyBtn').attr('type', 'submit')
    }else if(p1 == false){
      $('#title').focus();
      alert('제목을 입력하세요')
    }else if(p2 == false){
      $('#content').focus();
      alert('내용을 입력하세요')
    } else $('#title').focus();
  })
  /*]]>*/
</script>